<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appSettings>
        <!--
        <add key="StorageAccountName" value="" />
        <add key="StorageAccountKey" value="" />
        <add key="ServiceBusNamespace" value="" />
        <add key="ServiceBusIssuerName" value="" />
        <add key="ServiceBusIssuerSecretKey" value="" />
        -->
    </appSettings>
    <system.webServer>
        <httpErrors errorMode="Detailed" />
        <rewrite>
            <rules>
                <rule name="Rewrite routed access to assets (img, css, files, js, favicon)" stopProcessing="true">
                    <match url="^([^/]+)/(css|js|vendor|upload|localization|cash|charts|uploads|favicon.ico)/(.*)$"  />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
                        <add input="{URL}" pattern="^/favicon.ico$" ignoreCase="false" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="webroot/{R:2}/{R:3}"  />
                </rule>
                 <rule name="rule PlaceHolder" stopProcessing="true">
                        <match url="^placeholder/([^/]+)?/(.*)$"  />
                        <action type="Rewrite" url="webroot/placeholder/viewPalceHolder.php?rt={R:1}/{R:2}"  />
                </rule>               
                <rule name="rule 3Z" stopProcessing="true">
                    <match url="^([^/]+)?/(.*)$"  />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
                        <add input="{URL}" pattern="^/favicon.ico$" ignoreCase="false" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="webroot/index.php?rt={R:1}/{R:2}"  />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
    <system.web>
        <customErrors mode="Off"/>
        <compilation debug="true"/>
    </system.web>
</configuration>